.menu {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    color: #fff;
  }
  body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
  }
  header {
    height: 50px;
    background-color: rgb(35, 35, 61);
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px;
    padding: 0%;
  }
  .web {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: none;
  }
  .phone {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
.phone .logo {
  margin-left: 0px;
  padding-top: 10px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 25px;
}
.bar {
  width: 30px;
  height: 4px;
  background-color: #f5f5f5;
  margin: 2px 0px;
}
.web p {
    width: 50px;
}
.phone p {
    width: 30px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: white;
  margin-right: 25px;
  margin-bottom: 20px;
}
.nav-links a:hover {
  color: rgb(65, 65, 167);
  scale: 1.1;
}
.web button {
  height: 30px;
  width: 90px;
  margin-right: 30px;
  margin: 10px 0px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(29, 51, 180);
  font-weight: bold;
  color: lightskyblue;
  margin: 10px 20px;
}
button p {
  color: white;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}
.web button:hover {
  scale: 1.1;
  cursor: pointer;
}
.logo {
  color: blue;
  font-size: 20px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.logo p {
  margin-top: 3px;
  padding-left: 0px;
}
.left {
  margin-left: 30px;
  max-width: 600px;
}
.first {
  font-weight: bold;
  color: black;
  font-size: 30px;
  margin-bottom: 0px;
}
.large {
  font-size: 50px;
  margin-top: 0px;
  color: blue;
}
.small {
  color: rgb(81, 81, 229);
  font-size: 20px;
  font-weight: bolder;
}
.comtent {
  color: black;
  font-weight: lighter;
  font-size: 15px;
}
.webpage {
  display: flex;
  flex-wrap: wrap;
}
.right video {
  width: 450px;
  height: 450px;
}
.right {
  margin-left: 20px;
  width: 48%;
}

@media screen and (min-width:768px) {
  .web {
    display: flex;
  }
  .phone {
    display: none;
  }
  .webpage {
    flex-direction: column;
    align-items: start;
  }


}